:root {
  --color-gray-100: #F2F2F7;
  --color-gray-200: #D1D1D6;
  --color-gray-300: #B1B1B5;
  --color-gray-400: #8E8E93;
  --color-gray-700: #292929;
  --color-blue-100: #F2F8FF;
  --color-blue-400: #96E3FB;
  --color-blue-600: #3394FF;
  --color-red-700: #FF4C42;
  --color-white: #FFFFFF;
  --color-black: #000000;
}
