:root {
  --gray-100: #F2F2F7;
  --gray-200: #D1D1D6;
  --gray-300: #B1B1B5;
  --gray-400: #8E8E93;
  --gray-700: #292929;
  --blue-100: #F2F8FF;
  --blue-400: #96E3FB;
  --blue-600: #3394FF;
  --red-700: #FF4C42;
  --white: #FFFFFF;
  --black: #000000;
}
